// sidebar
$menuText: #bfcbd9;
$menuActiveText: #fff;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #263445;


$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;
$hideSideBarWidth: 54px;

// js与scss共享变量，在scss中通过:export进行导出，在js中可以通过ESM导入
// 文件后缀名以.module.scss
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
